@import "reset.css";
body {
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  width: 1000px;
  height: 600px;
  margin-top: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.56);
}
.controller,
.controlColors {
  /* margin-top: 35px; */
  display: flex;
}
.controlColor {
  width: 45px;
  height: 45px;
  margin-top: 5px;
  border-radius: 50%;
  box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.56);
}
.controller {
  width: 800px;
  display: flex;
  align-items: center;
}
.controlSize {
  margin-right: 150px;
}
#jsX,
#jsY {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  width: 60px;
  border: none;
  outline: none;
  text-align: center;
}
.controlBrush {
  margin-left: 150px;
  margin-bottom: 20px;
}
#jsRange {
  accent-color: rgb(104, 104, 104);
  /* 브러쉬 색상에 따라 변경되게 만들기 */
}
.controlBtn {
  display: flex;
  margin-top: 20px;
}
.controlBtn button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 20px;
  width: 50px;
  text-align: center;
  border: 3px solid rgb(214, 211, 211);
  border-radius: 50px;
  font-weight: bold;
}
.controlBtn button:hover,
.controlColor:hover {
  transform: scale(1.09);
}
